@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header */
header {
  background-color: rgba(37, 37, 37, 0.5);
  color: whitesmoke;
  text-align: center;
  font-family: 'Pattaya', sans-serif;
  font-size: 3rem;
}

/* main */

#main {
  background-color: rgba(177, 174, 174, 0.5);
  height: 70%;
  margin: 10% auto;
  width: 30%;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

/* form */

#form {
  margin: auto;
  text-align: center;
  padding: 10%;
  border-radius: 9px;
}

#search {
  padding: 2%;
  border-right: none;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
}

#submit {
  padding: 2%;
  background: transparent;
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
  font-weight: 800;
}

/* background image */

.Sunny {
  background-image: url("./image/sunny.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Clouds {
  background-image: url("./image/clouds.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Rain {
  background-image: url("./image/rain.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Snow {
  background-image: url("./image/snow.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.unknown_location {
  background-color: rgb(41, 36, 36);
}
